<h1>Edit: <%= @book.title %></h1>
<% if @book %>

 <form action="/books/<%= @book.id %>" method="post">
 Title:<input type="text" name="title" value="<%= @book.title %>" ></br>
 Author:<input type="text", name="author", value="<%= @book.author %>"></br>
 ISBN:<input type="text", name="isbn", value="<%= @book.isbn %>"></br>
   <select name="library_id">
     <option>No Library</option>
     <% @libraries.each do |library| %>
       <% if library.id == @book.library_id %>
         <% selected = "selected" %>
       <% else %>
         <% selected = "" %>
       <% end %>
       <option value="<%= library.id %>" <%= selected %>>
         <%= library.branch_name %>
       </option>
     <% end %>
   </select>
  <input type="submit" value="Edit Book">
</form>

<% else %>
  <p>No book by that title exists</p>
<% end %>